:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey:#ccd1d9;
  --primary-dark-grey: #666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52,58,64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black:#000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: rgb(0,255,0);

}
nav {
  z-index:999;
  background-color: #ef4035;
}

nav ul {
  overflow: hidden;
}
/* Navbarin kodlari */

.logo {
  /* 1 rem 16px  */
  width: 16rem; 

}

nav a.nav-link {
  font-size: 1.2rem;
  letter-spacing: 0.0375rem;
  margin: 0 0.75rem;
  color: var(--primary-white) !important;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover,
.navbar-nav >li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}


/* Header ucun CSS kodlari */
.header-wrapper {
  position: relative;
  background: url(./components/img/444.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.main-info {
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-info h1 {
  color:var(--primary-orange);
  margin-bottom: 25px;
}



.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}


@media(max-width:768px) {
  .main-info h1 {
      font-size: 1.7rem !important;

  }

  .typed-text {
      font-size: 1.7rem !important;  
  }
}

.downloadcv {
  border: 1px solid var(--primary-red);
  padding: 0.625rem;
  margin: 4rem;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--primary-white);
}

.downloadcv:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .4s ease-in-out;
}


/* About me komponenti ucun stiller */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 1px solid var(--primary-orange);
  padding: .3rem;
  object-fit: cover;
  

}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width:768px) {
  .about-heading {
      text-align: center;
      margin-bottom: 20px;
  }
  .p-text {
      text-align: justify;
  }
}

/* services hissesi */
.services {
  text-align: center;
  background-color: var(--primary-light-grey);
  padding-bottom: 2rem;
}

.services h1 {
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.0375rem auto;
  background-color: var(--primary-orange);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}


.services .circle .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.box h2 {
  margin-top: 2.1rem;
}

.services .box {
  background: var(--primary-white);
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  height: 350px;
  transition: all .7s ease-in-out;

}

.services .box:hover {
  cursor: pointer;
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}


.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover .circle {
  background: var(--primary-white);
}
.services .box:hover p {
  color: var(--primary-white);
}

/* Experience ucun stiller */
.img1{
  background:url(./components/img/A33.jpg);
}
.experience {

  padding: .7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.2rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: '';
  width: 0.125rem;
  height: 100%;
  background-color: var(--primary-grey);
  z-index: 1;
  margin-left: -0.125rem;
}

.timeline-block {
  width: calc(50% + .5rem);
  display: flex;

  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float:right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-orange);
  border: 0.3125rem solid var(--primary-dark);
  border-radius: 50%;
  z-index: 3;
  margin-top: 0.625rem;
}

.timeline-content {
  width: 95%;
 direction: ltr;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
}

@media(max-width:765px) {
  .experience .container {
      padding-left: 0;
  }

  .experience-wrapper::before {
      left: 0.5rem;
      margin-bottom: 1.875rem;
  }

  .timeline-block-right {
      float: none;
      width: 100%;
  }

  .timeline-block-left {
      float: none;
      direction: ltr;
      width: 100%;

  }
}


/* contact us komponenti stil */

.contacts {
  background-color: var(--primary-dark);
  padding:3rem 0;
}

.contacts h1 {
  color: var(--primary-hover-red);
  padding-left: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/*  contacts input */

.contacts input, .contacts textarea {
  background:none;
  border: none;
  resize: none;
  box-sizing: border-box;
  color: var(--primary-hover-red);
  outline: none !important;
}

.contacts input:focus, .contacts textarea:focus{
  background:transparent;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  margin: 2rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:var(--primary-white);
  background:none;

}

.btn-main-offer:hover {
  background-color: var(--primary-hover-red);
  transition: 1s ease-in-out;
}

.line {
  position: relative;
  top: -0.7rem;
  width: 0;
  height: 0.125rem;
  background-color: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width .5s ease-in-out;
}

/* footer stilllleriiiii */